{{ define "content" }}
  <div class="lg:container mx-auto p-4">
    <div class="text-pretty border rounded-lg border-orange-700 bg-white p-4 mb-4">
      <h2 class="text-xl font-semibold">About</h2>
    </div>

    <div class="text-pretty border rounded-lg border-orange-700 bg-white p-4 mb-4">
      <p class="mb-4">Collectible aims to surface real-time, free, and approachable information to track the growing space of Bitcoin and altcoin collectibles.</p>
      <p class="mb-4">This project would not be possible without the amazing resources put together by members of the Bitcointalk Collectibles forum.</p>
    </div>
  </div>
{{ end }}
