{{ define "content" }}
  <div class="lg:container mx-auto p-4">
    <div class="text-pretty border rounded-lg border-orange-700 bg-white p-4 mb-4">
      <h2 class="text-xl font-semibold">{{ .Creator.Name }}</h2>
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
        <div class="p-4">
          <p class="text-2xl font-medium">{{ .Creator.SeriesCount }}</p>
          <h3 class="text-xs mb-4">Series</h3>
        </div>
        <div class="p-4">
          <p class="text-2xl font-medium">{{ .Creator.ItemCount }}</p>
          <h3 class="text-xs mb-4">Items</h3>
        </div>
        <div class="p-4">
          <p class="text-2xl font-medium">{{ .Creator.TotalValue.SatoshisToBTC true }} BTC</p>
          <h3 class="text-xs mb-4">TVL BTC</h3>
        </div>
        <div class="p-4">
          <p class="text-2xl font-medium">${{ FormatNumber (printf "%.2f" (BTCValueToUSD .Creator.TotalValue)) }}</p>
          <h3 class="text-xs mb-4">TVL USD</h3>
        </div>
      </div>
      <div class="text-xs text-slate-400 text-end">
        <a class="hover:text-slate-500 clipboard" data-clipboard-text="[url=https://collectible.money/creator/{{ .Creator.Slug }}][img]https://collectible.money/snapshot/creator/{{ .Creator.Slug }}[/img][/url]">
          Copy BBCode
        </a>
        <a class="hover:text-slate-500" href="/feeds/creator/{{ .Creator.Slug }}">
          ATOM Feed
        </a>
      </div>
    </div>
    {{ range .Notes }}
      {{ template "note" . }}
    {{ end }}
    {{ range .Series }}
      {{ template "series_card" . }}
    {{ end }}
  </div>
{{ end }}

