<!DOCTYPE html>
<html lang="en">
<head>
  {{ $desc := "The authoritative source of Bitcoin and crypto collectibles" }}
  {{ if .Desc }}
    {{ $desc = .Desc }}
  {{ end }}
  {{ $ogimage := "https://collectible.money/static/images/og.png" }}
  {{ if .OGImage }}
    {{ $ogimage = .OGImage }}
  {{ end }}
  <title>{{ .Title }} | Collectible Money</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:image" content="{{ $ogimage }}" />
  <meta property="og:image:type" content="image/png"/>
  <meta property="og:image:width" content="1200"/  >
  <meta property="og:image:height" content="650"/>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:image" content="{{ $ogimage }}">
  <meta name="twitter:site" content="@collectible_money">
  <meta name="twitter:description" content="{{ $desc }}">
  <meta name="description" content="{{ $desc }}">
  <link href="/static/css/tailwind.css" rel="stylesheet">
  <link href="/static/css/app.css" rel="stylesheet">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "Collectible Money",
      "url" : "https://collectible.money",
    }
  </script>
</head>
<body class="flex flex-col min-h-screen font-mono">
  <main id="embed" class="bg-orange-400 max-w-md">
    <div class="m-5 max-w-md max-h-min text-pretty border rounded-lg border-orange-700 bg-white p-4 mb-2">
      {{ block "content" . }}{{ end }}
    </div>
    <div class="flex flex-col mb-2 pr-4 text-end text-xs text-gray-900">
        <span>Gen {{ NowSecond.UTC }}</span>
    </div>
    <div class="flex justify-center items-center mb-4 text-xs text-black">
      <span><a href="https://collectible.money" class="">https://collectible.money</a> - CC BY 4.0 - by <a href="https://raghavsood.com" class="">Raghav Sood</a></span>
    </div>
  </main>
  </footer>
</body>
</html>

