{{ define "footer" }}
<footer class="bg-white/80 text-xs mt-8 p-4 text-center mt-auto">
  <p>Built with <span class="text-red-500">&hearts;</span> by <a href="https://raghavsood.com" target="_blank" class="hover:underline hover:text-orange-400 hover:decoration-dotted">Raghav Sood</a>.</p>
  <p>collectible.money is licensed under <span class="inline-flex"><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license noopener noreferrer" class="hover:underline hover:text-orange-400 hover:decoration-dotted">CC BY 4.0</a>.</span></p>
  <p><a href="mailto:hello@collectible.money" class="hover:underline hover:text-orange-400 hover:decoration-dotted">Contact</a> me if you have any questions or suggestions.</p>
  <p><a href="/feeds" class="hover:underline hover:text-orange-400 hover:decoration-dotted">Atom Feed</a></p>
</footer>
{{ end }}

