{{ define "content" }}
  <div class="lg:container mx-auto p-4">
    <div class="text-pretty border rounded-lg border-orange-700 bg-white p-4 mb-4">
      <h2 class="text-xl font-semibold">Grading</h2>
    </div>

    <div class="text-pretty border rounded-lg border-orange-700 bg-white p-4 mb-4">
      <p class="mb-4">Grading slabs are protective holders that encase collectibles, providing a clear display while safeguarding them from physical damage. Professional grading services, such as the Numismatic Guaranty Corporation (NGC) and the Professional Coin Grading Service (PCGS), utilize a standardized grading scale, often a 70-point system, to evaluate items. This scale considers various factors, including wear, luster, and surface quality, attempting to provide a consistent and objective assessment.</p>
      <p class="mb-4">Specifically for cryptocurrency items, grading will usually involve noting the face value of the item, its funding status (unloaded, redeemed, and loaded), and its serial number and/or firstbits.</p>
      <p class="mb-4">Having items slabbed offers several benefits, including:</p>
      <ul class="list-disc list-inside mb-4">
        <li><span class="font-semibold">Protection</span>: Slabs shield collectibles from environmental damage, handling, and wear, preserving their condition over time.</li>
        <li><span class="font-semibold">Authentication</span>: The grading process includes at least a minimal attempt at establishing the authenticity of the item. The slabs themselves feature tamper-evident seals, ensuring that the item remains in its graded state.</li>
      </ul>
      <p class="mb-4">Most grading services operate a public registry of items they have graded. Notably, well-organized services such as PCGS offer a population report, detailing the number of items graded at each level, providing collectors with valuable insights into the rarity and desirability of their items.</p>
      <h3 class="text-lg mb-2">Notable Information</h3>
      <p class="mb-4">Historically, grading services have focused on traditional numismatic items. As a result, different services have different degrees of support for cryptocurrency items, as many are still updating their processes and standards to integrate this asset class</p>
      <p class="mb-4">For items graded by ICG, a considerable number of grading certificates were lost due to mismanagement. As a result, some ICG certificates linked on this site may lead to non-existent pages. Typically, this does not negate the grade of the item. Provided that the slab is in good condition, you may be eligible to have it reslabbed with a new serial number from ICG.</p>
    </div>
  </div>
{{ end }}
