{{ define "header" }}
<!-- Show maintenance banner if site is in read only mode -->
{{ if .ImportOngoing }}
<div class="bg-blue-500 text-white text-center p-2">
    <p class="text-sm">Collection import in progress. Real-time block data may not be up to date.</p>
</div>
{{ end }}

<!-- Code reader popup -->
<div id="modal" class="fixed inset-0 bg-gray-800 bg-opacity-50 z-50 hidden flex items-center justify-center">
  <div id="reader" class="bg-white w-full h-full lg:w-1/2 lg:h-1/2 lg:max-w-screen-lg lg:max-h-screen-lg rounded-lg shadow-lg">
  </div>
  <!-- Close button -->
  <button class="absolute top-4 right-4 text-white bg-red-500 hover:bg-red-600 focus:outline-none font-medium rounded-lg text-sm px-4 py-2" onclick="closeQR()">Close</button>
</div>

<header class="bg-white text-black">
    <nav class="flex items-center justify-between">
        <div class="pt-4 pb-4 pl-4 flex items-center space-x-3">
            <a class="text-2xl font-medium" href="/"><span class="text-xl">Collectible</span></a>
        </div>
        <div class="pt-4 pb-4 pr-4 flex items-center space-x-3 lg:hidden">
            <button id="menu-toggle" class="focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
        <div class="hidden pb-4 pt-4 lg:flex lg:items-center lg:justify-center lg:space-x-4" id="nav-links">
            <a href="/creators" class="hover:underline hover:text-orange-400 hover:decoration-dotted nav-link">Creators</a>
            <a href="/series" class="hover:underline hover:text-orange-400 hover:decoration-dotted nav-link">Series</a>
            <a href="/masterlist" class="hover:underline hover:text-orange-400 hover:decoration-dotted nav-link">Masterlist</a>
            <a href="/godmode" class="hover:underline hover:text-orange-400 hover:decoration-dotted nav-link">God Mode</a>
        </div>
        <div class="hidden pb-4 pt-4 pr-4 lg:flex lg:items-center lg:justify-center lg:space-x-4" id="nav-links">
            <a href="/about" class="hover:underline hover:text-orange-400 hover:decoration-dotted nav-link">About</a>
        </div>
    </nav>
    <div class="hidden flex-col space-y-2 p-4 lg:hidden" id="mobile-menu">
        <a href="/creators" class="block hover:underline hover:text-orange-400 hover:decoration-dotted nav-link">Creators</a>
        <a href="/series" class="block hover:underline hover:text-orange-400 hover:decoration-dotted nav-link">Series</a>
        <a href="/masterlist" class="block hover:underline hover:text-orange-400 hover:decoration-dotted nav-link">Masterlist</a>
        <a href="/godmode" class="block hover:underline hover:text-orange-400 hover:decoration-dotted nav-link">God Mode</a>
        <a href="/about" class="block hover:underline hover:text-orange-400 hover:decoration-dotted nav-link">About</a>
    </div>
</header>

<!-- Search Box -->
<div class="w-full lg:container mx-auto p-4">
  <form class="mx-auto" action="/search" method="GET">
      <label for="default-search" class="mb-2 text-sm font-medium  sr-only">Search</label>
      <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
          </div>
          <input type="search" name="q" id="default-search" class="block w-full p-4 ps-10 text-sm border border-orange-700 rounded-lg bg-white/80 focus:outline-none focus:border-orange-600" placeholder="Creator, address, or firstbits" required />
          <!-- QR Scanning button -->
          <div class="absolute end-2.5 bottom-2.5 flex items-center justify-between">
            <div class="inline">
              <button type="button" class="text-orange-500 hover:text-orange-800 focus:outline-none font-medium rounded-lg text-sm px-2 py-2 mr-2" onclick="scanQR()">Scan</button>
            </div>
          <!-- Search button -->
            <div class="inline">
              <button type="submit" class="text-white bg-orange-500 hover:bg-orange-600 focus:outline-none font-medium rounded-lg text-sm px-4 py-2">Search</button>
            </div>
          </div>
      </div>
  </form>
</div>

<script>
  var html5QrcodeScanner = new Html5QrcodeScanner("reader", { 
    fps: 10, 
    qrbox: 250,
    rememberLastUsedCamera: true,
    supportedScanTypes: [Html5QrcodeScanType.SCAN_TYPE_CAMERA]
  });

  function scanQR() {
    const reader = document.querySelector('#reader');
    const modal = document.querySelector('#modal');
    const searchBar = document.querySelector('#default-search');
    modal.classList.toggle('hidden');
    function onScanSuccess(decodedText, decodedResult) {
      // Handle on success condition with the decoded text or result.
      console.log(`Scan result: ${decodedText}`, decodedResult);
      modal.classList.toggle('hidden');
      html5QrcodeScanner.clear();
      searchBar.value = decodedText;
    }
  
    html5QrcodeScanner.render(onScanSuccess);
  }

  function closeQR() {
    const modal = document.querySelector('#modal');
    modal.classList.toggle('hidden');
    html5QrcodeScanner.clear();
  }
</script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    menuToggle.addEventListener('click', function () {
        mobileMenu.classList.toggle('hidden');
    });
});
</script>
{{ end }}


