{{ define "content" }}
  <div class="lg:container mx-auto p-4">
    <div class="text-pretty border rounded-lg border-orange-700 bg-white p-4 mb-4">
      <h2 class="text-xl font-semibold">{{ .Item.SeriesName }} - {{ .Item.SerialString }}</h2>
      <h3 class="text-sm text-slate-600">{{ .Item.SKU }}</h3>
      {{ if eq .Item.Unfunded 1 }}
        <span class="text-blue-700">Unfunded</span>
      {{ end }}
      {{ if eq .Item.Unredeemed 1 }}
        <span class="text-green-700">Unredeemed</span>
      {{ end }}
      {{ if eq .Item.Redeemed 1 }}
        <span class="text-red-700">Redeemed</span>
      {{ end }}
      <p><a href="/series/{{ .Item.SeriesSlug }}" class="text-orange-700 hover:underline hover:text-orange-400">View Series</a></p>
    </div>
    <div class="text-pretty border rounded-lg border-orange-700 bg-white p-4 mb-4 w-full overflow-x-scroll">
      <table class="min-w-full border border-orange-700">
        <thead>
          <tr>
            <th class="text-start px-4 py-2 border-b border-orange-700">Block</th>
            <th class="text-start px-4 py-2 border-b border-orange-700">Time</th>
            <th class="text-start px-4 py-2 border-b border-orange-700">Transaction ID</th>
            <th class="text-start px-4 py-2 border-b border-orange-700">Value (BTC)</th>
            <th class="text-start px-4 py-2 border-b border-orange-700">Value (USD)</th>
          </tr>
        </thead>
        <tbody class="text-sm">
          {{ range .Transactions }}
            {{ $rowColor := "text-green-700" }}
            {{ if eq .TransactionType "outgoing" }}
              {{ $rowColor = "text-red-700" }}
            {{ end}}
            <tr>
              <td class="px-4 py-2 border-b border-orange-700">{{ .BlockHeight }}</td>
              <td class="px-4 py-2 border-b border-orange-700">{{ .BlockTime.UTC }}</td>
              <td class="px-4 py-2 border-b border-orange-700">
                <a href="//mempool.space/tx/{{ .Txid }}" target="_blank" class="break-all hover:underline hover:text-orange-400 hover:decoration-dotted">
                  {{ .Txid }}
                </a>
              </td>
              <td class="px-4 py-2 border-b border-orange-700">
                <span class="{{ $rowColor }}">{{ .Value.SatoshisToBTC true }} BTC</span>
              </td>
              <td class="px-4 py-2 border-b border-orange-700">
                <span class="{{ $rowColor }}">${{ FormatNumber (printf "%.2f" (BTCValueToUSD .Value)) }}</span>
              </td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
{{ end }}

